<!-- INCLUDE overall_header.html -->
<script type="text/javascript" src="{ROOTH_PATH}rivals/graph/js/swfobject.js"></script>

<div id="clanpage" class="clanpage tabs">

	<div>
		<ul class="tabs-nav">
			<li class="active"><span class="left"></span><a id="claninfo-tab" href="#claninfo" onclick="return ShowSection(this);">{L_GROUP_INFORMATION}</a><span class="right"></span></li>
			<li><span class="left"></span><a id="clanmembers-tab" href="#clanmembers" onclick="return ShowSection(this);">{L_GROUP_MEMBERS}</a><span class="right"></span></li>
			<li><span class="left"></span><a id="clanstats-tab" href="#clanstats" onclick="return ShowSection(this);">{L_STATISTICS}</a><span class="right"></span></li>
			<li><span class="left"></span><a id="clanmhist-tab" href="#clanmhist" onclick="return ShowSection(this);">{L_MATCH_HISTORY}</a><span class="right"></span></li>
		</ul>
	</div>
	
	<div id="pagecontent" class="main4tabs">
		<div>
			<p class="cat_title2 rvcenter">{GROUP_NAME} (ID: {GROUP_ID})
			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and U_CHALLENGE --> <a href="{U_CHALLENGE}">{CHALLANGE_IMG}</a><!-- ENDIF -->
			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
			<!-- BEGIN block_request -->
			<a href="{block_request.U_REQUEST}">{REQJOIN_IMG}</a> 
			<!-- END block_request -->
			<!-- ENDIF -->
			<a href="{U_CLANFEED}"><img src="{ROOT_PATH}rivals/images/rsslogo.gif" alt="{GROUP_NAME}" /></a>
			</p>
		</div>	
	
		<div id="view-claninfo" class="tabs-panel panel-active">
		
			<p class="rvcenter"><img src="{ROOT_PATH}images/rivals/clanlogo/{GROUP_LOGO}" alt="{GROUP_LOGO}" width="{GROUP_LOGOW}" height="{GROUP_LOGOH}" /></p>
			<p class="rvcenter">{GROUP_DESC}</p>
			
			<div class="panel">
				<div class="inner"><span class="corners-top"><span></span></span>
					<p class="alltimetitle rvcenter">{L_ALLTIME_STATS}</p>
					<fieldset class="statsbox">
						<div class="alltimestats">
							<ul class="alltimetitleul">
								<li><strong>{L_TOTAL_RATIO}:</strong> {TOTAL_RATIO}</li>
								<li><strong>{L_CLAN_XP}:</strong> {TOTAL_XP}</li>
								<li><strong>{L_CLAN_TOT_LEVEL}:</strong> {CLAN_LEVEL} {L_POINTS}</li>
							</ul>
							{TORTA}
						</div>
						<div class="clanprofileright">
							<p class="rvleft clandata"><strong>{L_GROUP_LEADER}:</strong> <a href="{U_LEADERPROFILE}">{LEADER_NAME}</a></p>
							<p class="rvleft clandata"><strong>{L_GROUP_SITO}</strong> <a href="{GROUP_SITO}" onclick="window.open(this.href,'_blank');return false;">{GROUP_SITO}</a></p>
							<p class="rvleft clandata"><strong>{L_FAVOURITE_MAP}:</strong></p>
							<ul class="favlist rvleft">
								<!-- BEGIN block_favmaps -->
								<li>{block_favmaps.MAP}</li>
								<!-- END block_favmaps -->
							</ul>
							<p class="rvleft clandata"><strong>{L_FAVOURITE_TEAM}:</strong></p>
							<ul class="favlist rvleft">
								<!-- BEGIN block_favteams -->
								<li>{block_favteams.TEAMS}</li>
								<!-- END block_favteams -->
							</ul>
											
							<p class="rvleft clandata"><strong>{L_TROFEI}:</strong></p>
							<ul class="clantrofei rvcenter">
								<li><img src="{ROOT_PATH}/rivals/images/{PATENTE}" alt="{L_PATENTEALT}" title="{L_PATENTETXT}" /></li>
								<!-- IF POLLO --><li>{CHICKEN}x<img src="{ROOT_PATH}/rivals/images/chickenbig.gif" alt="{L_CHICKENALT}" title="{L_CHICKENTXT}" /></li><!-- ENDIF -->
								<!-- IF POWNER --><li>{POWNER}x<img src="{ROOT_PATH}/rivals/images/powner.gif" alt="{L_POWNERALT}" title="{L_POWNERTXT}" /></li><!-- ENDIF -->
								<!-- IF STRAK10 --><li>{STRAK10}x<img src="{ROOT_PATH}/rivals/images/cup10.gif" alt="{L_STREAKTEBALT}" title="{L_STREAKTEBTXT}" /></li><!-- ENDIF -->
								<!-- IF LADDERWIN --><li>{LADDERWIN}x<img src="{ROOT_PATH}/rivals/images/laddertrophy.gif" alt="{L_LADDERWONALT}" title="{L_LADDERWONTXT}" /></li><!-- ENDIF -->
							</ul>
							<!-- IF GUID || UAC --><p class="rvleft clandata"><strong>{L_GUID}:</strong> {GUID} - <strong>{L_UAC}:</strong> {UAC}</p><!-- ENDIF -->
						</div>
						<div class="rivalsgraphbig">{GRAPH}</div>
					</fieldset>
				<span class="corners-bottom"><span></span></span></div>
			</div>
				
			<div class="forumbg">
				<div class="inner"><span class="corners-top"><span></span></span>
					<table class="tablebg">
						<tr>
							<td class="cat rvcenter"><span class="cat_title">{L_GROUP_CHAT}</span></td>
						</tr>
						<tr>
							<td class="row1">
									<ul class="clan_chat chat_msg">
									<!-- BEGIN block_smsg -->
										<li>
											<!-- IF ADMIN --><a href="{block_smsg.DEL_WORK}"><img src="{ROOTH_PATH}rivals/images/delete.png" alt="{L_DELETE}" title="{L_DELETE}" class="rivalsicon" /></a><!-- ENDIF --> 
											<span class="msg_time">{block_smsg.SMSG_TIME} </span> <span class="msg_text">{block_smsg.SMSG_TEXT}</span>
										</li>
									<!-- BEGINELSE -->
										<li></li>
									<!-- END block_smsg -->
									</ul>
							</td>
						</tr>
					</table>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		</div>
		
		
		<div id="view-clanmembers" class="tabs-panel">
			<div class="forumbg">
				<div class="inner"><span class="corners-top"><span></span></span>
					<table id="memberlist" class="table1" cellspacing="1">
						<thead>
							<tr>
								<th>{L_USERNAME}</th>
								<th>{L_GAMERNAME}</th>
								<th>{L_LEVEL}</th>
								<th>{L_MVP}</th>
								<th>{L_RATIO}</th>
								<th>{L_KILLS}</th>
								<th>{L_DEADS}</th>
								<th>{L_ASSISTS}</th>
								<th>{L_GOALSF}</th>
								<th>{L_GOALSA}</th>
								<th>{L_ROLE}</th>
							</tr>
						</thead>
						<!-- BEGIN block_members -->
						<tr>
							<td class="{block_members.ROW_COLOR}"><strong class="gen"><a href="{block_members.U_MEMBERPROFILE}">{block_members.MEMBER_NAME}</a></strong></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv120 rvmiddle">{block_members.GAMER_NAME}</td>
							<td class="{block_members.ROW_COLOR} rvcenter rv80"><span class="pmvp">{block_members.MEMBER_LEVEL}</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv50"><span class="pmvp">{block_members.MEMBER_MVP}</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv60"><span class="pmvp">{block_members.MEMBER_RATIO}%</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv50"><span class="pmvp">{block_members.MEMBER_KILLS}</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv50"><span class="pmvp">{block_members.MEMBER_DEADS}</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv50"><span class="pmvp">{block_members.MEMBER_ASSISTS}</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv50"><span class="pmvp">{block_members.MEMBER_GOALF}</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv50"><span class="pmvp">{block_members.MEMBER_GOALA}</span></td>
							<td class="{block_members.ROW_COLOR} rvcenter rv80"><span class="role">{block_members.MEMBER_COF}</span></td>
						</tr>
						<!-- BEGINELSE -->
						<tr>
							<td colspan="2">{L_NO_MEMBERS}</td>
						</tr>
						<!-- END block_members -->
					</table>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		</div>

		<div id="view-clanstats" class="tabs-panel">
		
			<h2>{L_STATS_LADDER}</h2>
			<fieldset>
			<table class="tablebg" cellspacing="0">
				<tr>
					<td class="row1 rvcenter rvtop">
						<table cellspacing="1" class="tablebgtrasparent ">
							<!-- BEGIN block_ladders -->
							<tr>
								<td colspan="2"><h4 class="h4profile">P: {block_ladders.PLATFORM}, L: {block_ladders.LADDER}, S: {block_ladders.SUBLADDER}</h4></td>
							</tr>
							<!-- IF .block_ladders.block_seasons -->
							<tr>
								<td class="gen" align="right">{L_SEASON}: </td>
								<td>
									<form action="{block_ladders.U_ACTION}" method="post">
									<p>
										<select name="season_id">
										<optgroup label="{L_CURRENT_SEASONS}">
											<!-- BEGIN block_seasons_current -->
											<option value="{block_ladders.block_seasons_current.SEASON_ID}" selected="selected">{block_ladders.block_seasons_current.SEASON_NAME}</option>
											<!-- END block_seasons_current -->
										</optgroup>
										<optgroup label="{L_OLD_SEASONS}">
											<!-- BEGIN block_seasons -->
											<option value="{block_ladders.block_seasons.SEASON_ID}">{block_ladders.block_seasons.SEASON_NAME}</option>
											<!-- END block_seasons -->
										</optgroup>
										</select>
										<input type="hidden" name="season_ladder" value="{block_ladders.SUBLADDER_ID}" /> <input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
									</p>
									{S_HIDDEN_FIELDS}
									{S_FORM_TOKEN}
									</form>
								</td>
							</tr>
							<!-- ENDIF -->
							<tr>
								<td class="gen" align="right">{L_GROUP_WINS}: </td>
								<td><b class="gen">{block_ladders.GROUP_WINS}</b></td>
							</tr>
							<tr>
								<td class="gen" align="right">{L_GROUP_LOSSES}: </td>
								<td><b class="gen">{block_ladders.GROUP_LOSSES}</b></td>
							</tr>
							<tr>
								<td class="gen" align="right">{L_LADDER_GROUP_PARI}: </td>
								<td><b class="gen">{block_ladders.PAREGGI}</b></td>
							</tr>
							<tr>
								<td class="gen" align="right">{L_GROUP_SCORE}: </td>
								<td><b class="gen">{block_ladders.GROUP_SCORE}</b></td>
							</tr>
							<tr>
								<td class="gen" align="right">{L_CURRENT_RANK}: </td>
								<td><b class="gen">{block_ladders.CURRENT_RANK} ({L_LAST_RANK}: {block_ladders.LAST_RANK})</b></td>
							</tr>
							<tr>
								<td class="gen" align="right">{L_BEST_RANK}: </td>
								<td><b class="gen">{block_ladders.BEST_RANK} ({L_WORST_RANK}: {block_ladders.WORST_RANK})</b></td>
							</tr>
							<!-- END block_ladders -->
						</table>
					</td>
				</tr>
			</table>
			</fieldset>
			
			<p><br /></p>
			
			<h2>{L_STATS_TOURNAMENT}</h2>
			<div class="forumbg">
				<div class="panel"><span class="corners-top"><span></span></span>
					<fieldset>
						<!-- BEGIN block_tourstats -->
							<p><strong>{block_tourstats.TOUR_NAME}</strong> [<a href="{block_tourstats.TOUR_URL}">{L_VIEW_BRACKETS}</a>] &bull; {L_STATUS} {block_tourstats.TOUR_STATUS} &bull; {L_BEST_POSITION}: {block_tourstats.TOUR_POSITION}</p>
						<!-- END block_tourstats -->
					</fieldset>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		</div>

		<div id="view-clanmhist" class="tabs-panel">
			<div class="forumbg">
				<div class="inner"><span class="corners-top"><span></span></span>
					<table id="memberlist2" class="table1" cellspacing="1">
						<thead>
							<tr>
								<th>{L_PLAYED_TIME}</th>
								<th>{L_CHALLANGER}</th>
								<th></th>
								<th>{L_CHALLANGEE}</th>
								<th>{L_INFORMAZIONI_WAR}</th>
								<th>{L_LADDER}</th>
								<th>{L_STATS}</th>
							</tr>
						</thead>
						<tbody>
							<!-- BEGIN block_matchhistory -->
							<tr class="genmed">
								<td class="{block_matchhistory.ROW_COLOR} rvcenter rv80">{block_matchhistory.DATE}</td>
								<td class="{block_matchhistory.ROW_COLOR} rvcenter">
									<a href="{block_matchhistory.U_ER}" class="clanname">{block_matchhistory.CHALLANGER}<!-- IF block_matchhistory.SCORE --> ({block_matchhistory.ER_SCORE})<!-- ENDIF --></a>
									<!-- IF block_matchhistory.CALCIO --><br />({block_matchhistory.ER_TEAM})<!-- ENDIF -->
								</td>
								<td class="{block_matchhistory.ROW_COLOR} rvcenter rv15">
									 {L_VS}
								</td>
								<td class="{block_matchhistory.ROW_COLOR} rvcenter">
									<a href="{block_matchhistory.U_EE}" class="clanname">{block_matchhistory.CHALLANGEE}<!-- IF block_matchhistory.SCORE --> ({block_matchhistory.EE_SCORE})<!-- ENDIF --></a>
									<!-- IF block_matchhistory.CALCIO --><br />({block_matchhistory.EE_TEAM})<!-- ENDIF -->
								</td>
								<td class="{block_matchhistory.ROW_COLOR} rv300">
									<ul>
										<li class="rivalsli">{L_MAPSET}<!-- IF block_matchhistory.MAP1 eq '-' -->{L_LIBERO}</li><!-- ELSE IF --></li>
										<li class="rivalsli">-[1] {block_matchhistory.MAP1} - <!-- IF block_matchhistory.DECERTO -->{block_matchhistory.MODE1}: [{block_matchhistory.MODE1_ER_SCOR} - {block_matchhistory.MODE1_EE_SCOR}]<!-- ENDIF --></li>
										<li class="rivalsli">-[2] {block_matchhistory.MAP2} - <!-- IF block_matchhistory.DECERTO -->{block_matchhistory.MODE2}: [{block_matchhistory.MODE2_ER_SCOR} - {block_matchhistory.MODE2_EE_SCOR}]<!-- ENDIF --></li>
										<li class="rivalsli">-[3] {block_matchhistory.MAP3} - <!-- IF block_matchhistory.DECERTO -->{block_matchhistory.MODE3}: [{block_matchhistory.MODE3_ER_SCOR} - {block_matchhistory.MODE3_EE_SCOR}]<!-- ENDIF --></li>
									<!-- ENDIF -->
										<li class="rivalsli">{block_matchhistory.CLASSIFICATA}</li>
									</ul>
								</td>
								<td class="{block_matchhistory.ROW_COLOR} rv180">
									<a href="{block_matchhistory.U_LADDER}">
										<strong>{L_PLATFORM}</strong>: {block_matchhistory.PLATFORM}<br />
										<strong>{L_LADDER}</strong>: {block_matchhistory.LADDER}<br />
										<strong>{L_SUBLADDER}</strong>: {block_matchhistory.SUBLADDER}
									</a>
								</td>
								<td class="{block_matchhistory.ROW_COLOR} rv30">
									<!-- IF block_matchhistory.ADVSTATS || block_matchhistory.MVP -->
									<a href="#" onmouseover="toggleDiv('div{block_matchhistory.MATCH_ID}',1)" onmouseout="toggleDiv('div{block_matchhistory.MATCH_ID}',0)"><img src="{ROOT_PATH}rivals/images/info.gif" alt="{L_INFO}" /></a>
									<div id="div{block_matchhistory.MATCH_ID}" class="rivalpopup_clan">
									<!-- IF block_matchhistory.MVP -->
									<ul>
										<li>[ {L_MVPS} ] {L_ROUND1}: <strong>{block_matchhistory.MVP1}</strong></li>
										<li>[ {L_MVPS} ] {L_ROUND2}: <strong>{block_matchhistory.MVP2}</strong></li>
										<li>[ {L_MVPS} ] {L_ROUND3}: <strong>{block_matchhistory.MVP3}</strong></li>
									</ul>
									<!-- ENDIF -->
									<table cellpadding="1" cellspacing="0" class="tablebg430" border="1">
									<!-- IF block_matchhistory.CALCIO -->
										<tr class="genmed rvcenter">
											<td class="row1 rvleft">{L_USERNAME}</td>
											<td class="row1">{L_GAMERTAGS}</td>
											<td class="row1 rv60">{L_RATIO}</td>
											<td class="row1 rv30">{L_GOALSF}</td>
											<td class="row1 rv30">{L_GOALSA}</td>
										</tr>
										<!-- BEGIN block_advstats -->
										<tr class="genmed rvcenter">
											<td class="rvleft">{block_advstats.USERNAME}</td>
											<td>{block_advstats.USERGT}</td>
											<td class="rv50">{block_advstats.RATIOC}%</td>
											<td class="rv15">{block_advstats.GOALS_F}</td>
											<td class="rv15">{block_advstats.GOALS_S}</td>
										</tr>
										<!-- END block_advstats -->
									<!-- ELSE IF -->
										<tr class="genmed rvcenter">
											<td class="row1 rvleft">{L_USERNAME}</td>
											<td class="row1">{L_GAMERTAGS}</td>
											<td class="row1 rv60">{L_RATIO}</td>
											<td class="row1 rv30">{L_KILLS}</td>
											<td class="row1 rv30">{L_DEADS}</td>
											<td class="row1 rv30">{L_ASSISTS}</td>
										</tr>
										<!-- BEGIN block_advstats -->
										<tr class="genmed rvcenter">
											<td class="rvleft">{block_advstats.USERNAME}</td>
											<td>{block_advstats.USERGT}</td>
											<td class="rv50">{block_advstats.RATIO}%</td>
											<td class="rv15">{block_advstats.KILLS}</td>
											<td class="rv15">{block_advstats.DEADS}</td>
											<td class="rv15">{block_advstats.ASSISTS}</td>
										</tr>
										<!-- END block_advstats -->
									<!-- ENDIF -->
									</table>
									</div>
									<!-- ELSE IF -->
									<img src="{ROOT_PATH}rivals/images/info_no.gif" alt="{L_INFO}" />
									<!-- ENDIF -->
								</td>
							</tr>
							<!-- BEGINELSE -->
							<tr class="genmed rvcenter">
								<td class="row1" colspan="7">{L_NO_MATCHES}</td>
							</tr>
							<!-- END block_matchhistory -->
						</tbody>
					</table>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
<!--
function toggleDiv(id,flagit) {
if (flagit=="1"){
if (document.layers) document.layers[''+id+''].display = "block"
else if (document.all) document.all[''+id+''].style.display = "block"
else if (document.getElementById) document.getElementById(''+id+'').style.display = "block"
}
else
if (flagit=="0"){
if (document.layers) document.layers[''+id+''].display = "none"
else if (document.all) document.all[''+id+''].style.display = "none"
else if (document.getElementById) document.getElementById(''+id+'').style.display = "none"
}
}
//-->
</script>

<!-- INCLUDE overall_footer.html --> 