<!-- INCLUDE ucp_header.html -->

<!-- IF ERROR -->
	<p class="gensmall error rvcenter">{ERROR}</p>
<!-- ENDIF -->

<h2>{L_CLAN_ATTENDI_WAR_IO}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset>
		<table class="table1" cellspacing="1">
			<tbody>
			<!-- BEGIN blocco_clanattesa_io -->
				<tr class="genmed">
					<td class="{blocco_clanattesa_io.ROW_COLOR} rvleft">
						{L_HAI_UN_MATCH_IN_CERCA}: [P] {blocco_clanattesa_io.NOME_PLATFORM} -[L] {blocco_clanattesa_io.NOME_MAINLADDER} -[S] {blocco_clanattesa_io.GROUP_LADDER} -=- ({blocco_clanattesa_io.CLASSIFICATA})
						<!-- IF blocco_clanattesa_io.USER_ICON --><img src="{ROOT_PATH}rivals/images/1vs1.gif" alt="{L_1VS1LADDER}" title="{L_1VS1LADDER}" class="rivalsicon" /><!-- ENDIF -->
					</td>
					<td class="{blocco_clanattesa_io.ROW_COLOR} rvcenter">{L_FINO_ALLE}: {blocco_clanattesa_io.FINO_ALLE}</td>
				</tr>
			<!-- BEGINELSE -->
				<tr class="genmed">
					<td colspan="2" align="center" class="{blocco_clanattesa.ROW_COLOR}"><br />{L_NOUWAR_IO}<br /></td>
				</tr>
			<!-- END blocco_clanattesa_io -->
			</tbody>
		</table>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<hr />

<h2>{L_CLAN_ATTENDI_WAR}</h2>
<form action="{U_ACTION}" method="post">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset>
		<table class="table1" cellspacing="1">
			<thead>
				<tr class="genmed rvcenter">
					<th class="row bg1">{L_AZIONE}</th>
					<th class="row bg1">{L_SU_LADDER}</th>
					<th class="row bg1">{L_FINO_ALLE}</th>
					<th class="row bg1">{L_WINS}</th>
					<th class="row bg1">{L_LOSSES}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN blocco_clanattesa -->
				<tr class="genmed">
					<td class="{blocco_clanattesa.ROW_COLOR} rvcenter rv60"><input type="checkbox" name="accepted[]" class="radio" value="{blocco_clanattesa.MATCH_ID}" /></td>
					<td class="{blocco_clanattesa.ROW_COLOR} rvcenter">
						[P] {blocco_clanattesa.NOME_PLATFORM} -[L] {blocco_clanattesa.NOME_MAINLADDER} -[S] {blocco_clanattesa.GROUP_LADDER} -=- ({blocco_clanattesa.CLASSIFICATA}) 
						<!-- IF blocco_clanattesa.USER_ICON --><img src="{ROOT_PATH}rivals/images/1vs1.gif" alt="{L_1VS1LADDER}" title="{L_1VS1LADDER}" class="rivalsicon" /><!-- ENDIF -->
					</td>
					<td class="{blocco_clanattesa.ROW_COLOR} rvcenter">{blocco_clanattesa.FINO_ALLE}</td>
					<td class="{blocco_clanattesa.ROW_COLOR} rvcenter rv80">{blocco_clanattesa.GROUP_WINS}</td>
					<td class="{blocco_clanattesa.ROW_COLOR} rvcenter rv80">{blocco_clanattesa.GROUP_LOSSES}</td>
				</tr>
				<!-- BEGINELSE -->
				<tr class="genmed">
					<td colspan="5" class="row bg2 rvcenter">{L_NOUWAR}</td>
				</tr>
				<!-- END blocco_clanattesa -->
				<tr class="genmed">
					<td colspan="5" class="cat rvcenter"><input type="submit" name="sfida" value="{L_U_SFIDA}" class="rvbutton2" /></td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
{S_FORM_TOKEN}
</form>

<hr />

<h2>{L_CERCA_WAR_AGGIUNGITI}</h2>
<form action="{U_ACTION}" method="post">
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset>
			<dl>
				<dt><label for="group_ladder">{L_DOVE_CERCHI}</label></dt>
				<dd>
					<select name="group_ladder" id="group_ladder">
						<optgroup label="{L_CLAN_LADDER}">
							<!-- BEGIN block_ladders -->
							<option value="{block_ladders.SUBLADDER_ID}">P: {block_ladders.PLATFORM}, L: {block_ladders.LADDER}, S: {block_ladders.SUBLADDER}</option>
							<!-- BEGINELSE -->
							<option value="0">{L_EMPTY}</option>
							<!-- END block_ladders -->
						</optgroup>
						<optgroup label="{L_USER_LADDER}">
							<!-- BEGIN user_ladders -->
							<option value="{user_ladders.SUBLADDER_ID}">P: {user_ladders.PLATFORM}, L: {user_ladders.LADDER}, S: {user_ladders.SUBLADDER}</option>
							<!-- BEGINELSE -->
							<option value="0">{L_EMPTY}</option>
							<!-- END user_ladders -->
						</optgroup>
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="challenge_unranked">{L_CHALLENGE_UNRANKED}</label></dt>
				<dd><input type="checkbox" name="challenge_unranked" id="challenge_unranked" value="1" /></dd>
			</dl>
			<dl>
				<dt><label for="match_time">{L_TRA_QUANTO}</label></dt>
				<dd>
					<select name="match_time" id="match_time">
						<!-- BEGIN block_minutes -->
						<option value="{block_minutes.MINUTE}">{block_minutes.MINUTE} {L_MINS}</option>
						<!-- END block_minutes -->
					</select>
				</dd>
			</dl>
		</fieldset>

		<fieldset class="submit-buttons">
			<input type="reset" value="{L_RESET}" name="reset" class="rvbutton2" />&nbsp; 
			<input type="submit" name="submit" value="{L_SUBMIT}" class="rvbutton2" />
		</fieldset>
		
		<span class="corners-bottom"><span></span></span></div>
	</div>
{S_FORM_TOKEN}
</form>

<p><br />{L_MOTIVO_ANINIMI}</p>
<!-- INCLUDE ucp_footer.html -->