<!-- INCLUDE ucp_header.html -->

<h2>{L_INVITE_USER}</h2>

<form action="{U_ACTION}" method="post">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<dl>
			<dt><label for="member_id">{L_INVITE_USERNAME}</label></dt>
			<dd><input type="text" name="member_id" id="member_id" class="inputbox autowidth" /></dd>
		</dl>
	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
    <input type="reset" value="{L_RESET}" name="reset" class="rvbutton2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="rvbutton2" />
</fieldset>

{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->