<!-- INCLUDE ucp_header.html -->

<h2>{L_WELCOME_CCP}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<p>{UWELCOMETXT}</p>
	
	<table class="tablebg" cellspacing="1">
		<tr class="rvcenter">
			<td class="rv160">
				<a href="{U_EDIT_CLAN}" title="{L_EDIT_CLAN}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/clanedit.png" alt="{L_EDIT_CLAN}" /></a><br />
				<a href="{U_EDIT_CLAN}" title="{L_EDIT_CLAN}" class="rvcat_ucp">{L_EDIT_CLAN}</a><br />
				{L_EDIT_CLAN_TXT}
			</td>
			<td class="rv160">
				<a href="{U_SMSG}" title="{L_SMSG}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/smsg.png" alt="{L_SMSG}" /></a><br />
				<a href="{U_SMSG}" title="{L_SMSG}" class="rvcat_ucp">{L_SMSG}</a><br />
				{L_SMSG_TXT}
			</td>
			<td class="rv160">
				<a href="{U_MEN_MEMBERS}" title="{L_MEN_MEMBERS}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/members.png" alt="{L_MEN_MEMBERS}" /></a><br />
				<a href="{U_MEN_MEMBERS}" title="{L_MEN_MEMBERS}" class="rvcat_ucp">{L_MEN_MEMBERS}</a><br />
				{L_MEN_MEMBERS_TXT}
			</td>
			<td class="rv160">
				<a href="{U_FIND_MATCH}" title="{L_FIND_MATCH}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/findm.png" alt="{L_FIND_MATCH}" /></a><br />
				<a href="{U_FIND_MATCH}" title="{L_FIND_MATCH}" class="rvcat_ucp">{L_FIND_MATCH}</a><br />
				{L_FIND_MATCH_TXT}
			</td>
			<td class="rv160"></td>
		</tr>
		<tr class="rvcenter">
			<td colspan="5"><hr /></td>
		</tr>
		<tr class="rvcenter">
			<td class="rv160">
				<a href="{U_ADD_MATCH}" title="{L_ADD_MATCH}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/addmatch.png" alt="{L_ADD_MATCH}" /></a><br />
				<a href="{U_ADD_MATCH}" title="{L_ADD_MATCH}" class="rvcat_ucp">{L_ADD_MATCH}</a><br />
				{L_ADD_MATCH_TXT}
			</td>
			<td class="rv160">
				<a href="{U_PENDING_MATCH}" title="{L_PENDING_MATCH}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/pendingm.png" alt="{L_PENDING_MATCH}" /></a><br />
				<a href="{U_PENDING_MATCH}" title="{L_PENDING_MATCH}" class="rvcat_ucp">{L_PENDING_MATCH}</a><br />
				{L_PENDING_MATCH_TXT}
			</td>
			<td class="rv160">
				<a href="{U_REPORT_MATCHES}" title="{L_REPORT_MATCHES}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/reportm.png" alt="{L_REPORT_MATCHES}" /></a><br />
				<a href="{U_REPORT_MATCHES}" title="{L_REPORT_MATCHES}" class="rvcat_ucp">{L_REPORT_MATCHES}</a><br />
				{L_REPORT_MATCHES_TXT}
			</td>
			<td class="rv160">
				<a href="{U_CONFIRM_MATCH}" title="{L_CONFIRM_MATCH}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/confirm_m.png" alt="{L_CONFIRM_MATCH}" /></a><br />
				<a href="{U_CONFIRM_MATCH}" title="{L_CONFIRM_MATCH}" class="rvcat_ucp">{L_CONFIRM_MATCH}</a><br />
				{L_CONFIRM_MATCH_TXT}
			</td>
			<td class="rv160">
				<a href="{U_CLAN_TOURNAMENT}" title="{L_CLAN_TOURNAMENT}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/clan_tourn.png" alt="{L_CLAN_TOURNAMENT}" /></a><br />
				<a href="{U_CLAN_TOURNAMENT}" title="{L_CLAN_TOURNAMENT}" class="rvcat_ucp">{L_CLAN_TOURNAMENT}</a><br />
				{L_CLAN_TOURNAMENT_TXT}
			</td>
		</tr>
		<tr class="rvcenter">
			<td colspan="5"><hr /></td>
		</tr>
		<tr class="rvcenter rvmiddle">
			<td class="rv160">
				<a href="{U_ADD_USERM}" title="{L_ADD_USER_MATCH}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/add1vs1m.png" alt="{L_ADD_USER_MATCH}" /></a><br />
				<a href="{U_ADD_USERM}" title="{L_ADD_USER_MATCH}" class="rvcat_ucp">{L_ADD_USER_MATCH}</a><br />
				{L_ADD_USER_MATCH_TXT}
			</td>
			<td class="rv160">
				<a href="{U_USER_MATCH}" title="{L_USER_MATCH}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/match1vs1.png" alt="{L_USER_MATCH}" /></a><br />
				<a href="{U_USER_MATCH}" title="{L_USER_MATCH}" class="rvcat_ucp">{L_USER_MATCH}</a><br />
				{L_USER_MATCH_TXT}
			</td>
			<td class="rv160">
				<a href="{U_USER_TOURN}" title="{L_USER_TOURNAMENT}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/u_tournament.png" alt="{L_USER_TOURNAMENT}" /></a><br />
				<a href="{U_USER_TOURN}" title="{L_USER_TOURNAMENT}" class="rvcat_ucp">{L_USER_TOURNAMENT}</a><br />
				{L_USER_TOURNAMENT_TXT}
			</td>
			<td class="rv160">
				<a href="{U_MATCH_CHAT}" title="{L_MATCH_CHAT}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/mchat.png" alt="{L_MATCH_CHAT}" /></a><br />
				<a href="{U_MATCH_CHAT}" title="{L_MATCH_CHAT}" class="rvcat_ucp">{L_MATCH_CHAT}</a><br />
				{L_MATCH_CHAT_TXT}
			</td>
			<td class="rv160">
				<a href="{U_SEND_TICKET}" title="{L_SEND_TICKET}" class="rvcat_ucp"><img src="{ROOT_PATH}rivals/images/ucp/ticket.png" alt="{L_SEND_TICKET}" /></a><br />
				<a href="{U_SEND_TICKET}" title="{L_SEND_TICKET}" class="rvcat_ucp">{L_SEND_TICKET}</a><br />
				{L_SEND_TICKET_TXT}
			</td>
		</tr>
	</table>
	
	<hr />
	
	<table class="tablebg" cellspacing="1">
		<tr>
			<td class="cat rvcenter" colspan="2"><span class="cat_title">{L_STATISTICS}</span></td>
		</tr>
		<tr class="genmed">
			<td class="row1">
			<!-- IF INGROUP -->
				<ul class="ulstats">
					<li class="rvu"><strong>{L_CLAN_MATCHES}</strong></li>
					<li>- <strong>{L_PENDING_MATCHES}: </strong> {CHALLENGES}</li>
					<li>- <strong>{L_ONGOING_MATCHES}: </strong> {ONGOING_MATCHES}</li>
					<li>- <strong>{L_FINISHED_MATCHES}: </strong> {FINISHED_MATCHES}</li>
				</ul>
				<br />
			<!-- ENDIF -->
				<ul class="ulstats">
					<li class="rvu"><strong>{L_1VS1_MATCHES}</strong></li>
					<li>- <strong>{L_PENDING_MATCHES}: </strong> {1VS1PENDING}</li>
					<li>- <strong>{L_ONGOING_MATCHES}: </strong> {1VS1ONGOING}</li>
					<li>- <strong>{L_FINISHED_MATCHES}: </strong> {1VS1FINISHED}</li>
				</ul>
			</td>
			<td class="row1 rvmiddle rvcenter rv100">
				<a href="http://www.nipponart.org/forum/lwdonate.php" title="{L_DONATE_US}"><img src="{ROOT_PATH}rivals/images/paypal_donate.gif" alt="{L_DONATE_US}"/></a>
			</td>
		</tr>
		<tr class="genmed">
			<td class="cat rvcenter" colspan="2"><span class="cat_title">{L_YOUR_OTHER_GROUPS}</span><br />{L_OTHER_CLAN_I}</td>
		</tr>
		<!-- BEGIN block_switch -->
		<tr class="genmed">
			<td class="row1" colspan="2">
				<a href="{block_switch.U_ACTION}" class="forumlink"><b>{block_switch.GROUP_NAME}</b></a>
			</td>
		</tr>
		<!-- BEGINELSE -->
		<tr class="genmed">
			<td class="row1 rvcenter" colspan="2">{L_NO_OTHER_GROUPS}</td>
		</tr>
		<!-- END block_switch -->
		
		<!-- IF SHOW_FROZEN_BOX -->
		<form action="{U_ACTION}" method="post">
		<tr class="genmed">
			<td class="cat rvcenter" colspan="2"><span class="cat_title">{L_CLAN_FROSTED}</span></td>
		</tr>
		<tr class="genmed" colspan="2">
			<td class="row1" colspan="2">
				<ul class="frostul">
				<!-- BEGIN clan_frost -->
					<li>{L_ON}: ({L_PLATFORM_SHORT}) {clan_frost.PLATFORM}, ({L_LADDER_SHORT}) {clan_frost.LADDER}, ({L_SUBLADDER_SHORT}) {clan_frost.SUBLADDER} - {L_DAL} {clan_frost.FROST_DA} - {L_TI_RIMANGONO} {clan_frost.TIME_RISK}
					 = {L_DEFROST} <input type="checkbox" name="frostlad[]" class="radio" value="{clan_frost.LADDER_ID}" /></li>
				<!-- END clan_frost -->
					<li> </li>
				<!-- BEGIN user_frost -->
					<li>{L_ON}: ({L_PLATFORM_SHORT}) {user_frost.PLATFORM}, ({L_LADDER_SHORT}) {user_frost.LADDER}, ({L_SUBLADDER_SHORT}) {user_frost.SUBLADDER} - {L_DAL} {user_frost.FROST_DA} - {L_TI_RIMANGONO} {user_frost.TIME_RISK}
					 = {L_DEFROST} <input type="checkbox" name="frostlad[]" class="radio" value="{user_frost.LADDER_ID}" /></li>
				<!-- END user_frost -->
				</ul>
			</td>
		</tr>
		<tr class="genmed">
			<td class="row2 rvcenter" colspan="2"><input type="submit" name="sblocca" id="sblocca" value="{L_SBLOCCA}" class="rvbutton2" /></td>
		</tr>
		{S_FORM_TOKEN}
		</form>
		<!-- ENDIF -->
		<tr class="genmed">
			<td class="cat rvcenter" colspan="2"><a href="http://www.nipponart.org/phprivals-mod">phpRivals Mod 2.0 by Soshen</a> - based on phpBB Rivals by Tyler N. King</td>
		</tr>
	</table>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE ucp_footer.html -->