<!-- INCLUDE ucp_header.html -->
<div style="padding: 2px;">
	<form action="{U_ACTION}" method="post">

		<table class="tablebg" width="100%" cellspacing="1">
			<tr class="genmed">
				<th class="row3 rvcenter">{L_INVITE_USER}</th>
			</tr>
			<tr class="genmed">
				<td class="row2">
					{L_INVITE_USERNAME} <input type="text" name="member_id" id="member_id" class="inputbox autowidth" />
				</td>
			</tr>
			<tr>
				<td class="cat" align="center">
					<input type="submit" name="submit" value="{L_SUBMIT}" class="rvbutton2" />
				</td>
			</tr>
		</table>
	
	{S_FORM_TOKEN}
	</form>
</div>
<!-- INCLUDE ucp_footer.html -->