<!-- INCLUDE ucp_header.html -->

<!-- IF FROMMATCH -->
	<h2>{L_RIPORTI_TICKET_FOR}: {CHALLENGER} {L_VS} {CHALLENGEE}</h2>
<!-- ELSE -->
	<h2>{L_ISSUE_A_TICKET}</h2>
<!-- ENDIF -->

<form action="{U_ACTION}" method="post" enctype="multipart/form-data">
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_ISSUE_A_TICKET}</th>
	</tr>
	<tr class="genmed">
		<td class="row1"><b>{L_TICKET_TYPE}</b>:</td>
		<td class="row2 rvtop">
			<select name="type">
				<option value="{L_CHEATING}">{L_CHEATING}</option>
				<option value="{L_MATCHRESULTS}">{L_MATCH_RESULTS}</option>
				<option value="{L_NOSHOW}">{L_NO_SHOW}</option>
				<option value="{L_OTHER}">{L_OTHER_TYPE}</option>	
			</select>
		</td>
	</tr>
	<tr class="genmed">
		<td class="row1"><b>{L_TICKET_FILE}</b>:</td>
		<td class="row2"><input type="file" class="inputbox autowidth" name="attachment" /></td>
	</tr>
	<tr>
		<td class="row1">{L_TICKED_TEXT}</td>
		<td class="row2">
			<textarea cols="40" rows="5" class="inputbox narrow" name="ticket"></textarea>
		</td>
	</tr>
	<tr>
		<td class="cat rvcenter" colspan="2">
			<input type="hidden" name="userm" value="{USERLAD}" />
			<input type="hidden" name="match_id" value="{MATCHID}" />
			<input type="submit" name="submit" value="{L_SUBMIT}" class="rvbutton2" />
		</td>
	</tr>
</table>
{S_HIDDEN_FIELDS}
{S_FORM_TOKEN}
</form>
<!-- INCLUDE ucp_footer.html -->
